@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>
	<link href="main.css" rel="stylesheet">
	<title>MONEY MONKEY</title>
</head>

<body>

	<div class="mainTitle">Confirm that check!</div>


	<div class="input">
		<h3>Enter the start and end of your pay period</h3><br>
		<h3>As seen on your paycheck</h3><br>
		<form>
			<p>Start Date:</p>
			<input type="date" value="2022-10-19" id="wage"><br>
			<p>End Date:</p>
			<input type="date" value="2022-10-19" id="wage"><br>
		</form>
		<h1><a href="end.cshtml">Confirm Check</a></h1>
	</div>



	<script src="main.js"></script>
</body>
