<!DOCTYPE html>
	<script>
			function link() {
				wage = document.getElementById("wage").value;
				window.location = './main.cshtml?wage=' + wage;
	} 
	</script>

	<html>
	<head>
			<link href="main.css" rel="stylesheet">
			<title>Money Monkey</title>
	</head>
	
	<body>

			<div class="mainTitle">
				MONEY MONKEY

				<img src="https://i.ibb.co/qCLCndC/mrMonkey.png">


				<div class="header">
					<nav>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Lorem</a></li>
							<li><a href="#">Ipsum</a></li>
							<li><a href="#">Slay</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="input">
				<h3>Type hourly wage below</h3><br>
				<form>
					<input type="number" value="15.00" id="wage" step="0.05" min="0" max="1000"><br>
				</form>

					<button onclick="link()">START SHIFT</button>
			</div>

	</body>
	</html>
